<br>
<div class="container">
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="">Home</a></li>
  <li class="breadcrumb-item active">{{location}}</li>
</ol>
</div>
<div class="container">
<table class="table">
  <thead>
    <tr>     
      <th scope="col">ID</th>
      <th scope="col">Iso2code</th>
      <th scope="col">Value</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lendingType of lendingTypes | paginate: { id: 'server', itemsPerPage: 10, currentPage: p, totalItems: total }">
      <td>{{lendingType.id}}</td>
      <td>{{lendingType.iso2code}}</td>
      <td>{{lendingType.value}}</td>
      <td><a href="lending-types-details/{{lendingType.iso2code}}" class="btn btn-primary">View Countries</a></td>
    </tr>
  </tbody>
</table>
<div>
    <div *ngIf="loading" > 
  		<strong>Loading data. Please wait ...</strong>	
	</div> 
	<div *ngIf="!loading" > 
		<pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
	</div> 	 
</div>
</div>