<div class="container">
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="">Home</a></li>
  <li class="breadcrumb-item"><a href="income-levels">Income levels</a></li>
  <li class="breadcrumb-item"><a href="/countries">Countries</a></li>
  <li class="breadcrumb-item active">{{id}}</li>
</ol>
</div>
<div class="container">
<table class="table">
  <thead>
    <tr>     
      <th scope="col">ID</th>
      <th scope="col">Iso2Code</th>
      <th scope="col">Name</th>
      <th scope="col">Capital City</th>
      <th scope="col">Longitude</th>
      <th scope="col">Latitude</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let country of countries | paginate: { id: 'server', itemsPerPage: 10, currentPage: p, totalItems: total }">
      <td>{{country.id}}</td>
      <td>{{country.iso2Code}}</td>
      <td>{{country.name}}</td>
      <td>{{country.capitalCity}}</td>
      <td>{{country.longitude}}</td>
      <td>{{country.latitude}}</td>
      <td class="text-right"><a href="countries-details/{{country.iso2Code}}" class="btn btn-primary btn-sm">Details</a></td>
    </tr>
  </tbody>
</table>
<div>
    <div *ngIf="loading" > 
  		<strong>Loading data. Please wait ...</strong>	
	</div> 
	<div *ngIf="!loading" > 
		<pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
	</div> 	 
</div>
</div>