<br>
<div class="container">
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="">Home</a></li>
  <li class="breadcrumb-item"><a href="/sources">Sources</a></li>
  <li class="breadcrumb-item active">{{id}}</li>
</ol>
</div>
<br>
<div class="container">
<table class="table">
    <tbody>
      <tr>
        <td>ID</td>
        <td>{{source?.id}}</td>     
      </tr>
      <tr>
        <td>Code</td>
        <td>{{source?.code}}</td>
      </tr>      
      <tr>
        <td>Name</td>
        <td>{{source?.name}}</td>
      </tr>
      <tr>
        <td>Data Availability</td>
        <td>{{source?.dataavailability}}</td>
      </tr> 
      <tr>
        <td>Meta Data Availability</td>
        <td>{{source?.metadataavailability}}</td>
      </tr> 
      <tr>
        <td>Last updated</td>
        <td>{{source?.lastupdated}}</td>
      </tr>          
    </tbody>
  </table>
  <a href="/sources" class="btn btn-primary" role="button">Back</a>
</div>