<div class="container">
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="">Home</a></li>
  <li class="breadcrumb-item"><a href="/sources">Sources</a></li>
  <li class="breadcrumb-item active">{{id}}</li>
</ol>
</div>
<br>
<div class="container">
<table class="table">
    <tbody>
      <tr>
        <td class="w-25"><b>ID:</b></td>
        <td>{{source?.id}}</td>     
      </tr>
      <tr>
        <td class="w-25"><b>Code:</b></td>
        <td>{{source?.code}}</td>
      </tr>      
      <tr>
        <td class="w-25"><b>Name:</b></td>
        <td>{{source?.name}}</td>
      </tr>
      <tr>
        <td class="w-25"><b>Data Availability:</b></td>
        <td *ngIf="source?.dataavailability === 'Y'"><span style="background-color: green;color: white">Yes</span></td>
      	<td *ngIf="source?.dataavailability === 'N'"><span style="background-color: red;color: white">No</span></td>
      	<td *ngIf="source?.dataavailability === ''">n.a.</td>      
      </tr> 
      <tr>
        <td class="w-25"><b>Meta Data Availability:</b></td>
        <td *ngIf="source?.metadataavailability === 'Y'"><span style="background-color: green;color: white">Yes</span></td>
      	<td *ngIf="source?.metadataavailability === 'N'"><span style="background-color: red;color: white">No</span></td>
      	<td *ngIf="source?.metadataavailability === ''">n.a.</td> 
      </tr> 
      <tr>
        <td class="w-25"><b>Last updated:</b></td>
        <td>{{source?.lastupdated}}</td>
      </tr>          
    </tbody>
  </table>
  <a href="/sources" class="btn btn-primary" role="button">Back</a>
</div>